<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=185860118443929';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">

      <form action="/login" method="post">
        <div class="form-group">
          <input type="text" name="email" value="" placeholder="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" value="" placeholder="password" class="form-control">
        </div>
        <button class="btn btn-default">Log In</button>
      </form>
      <br>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
    </div>

    <div class="panel-footer">
      <a href="/register">Or Sign Up</a>
    </div>
  </div>
</div>
